@model FoxCoin.ViewModel.TransferViewModel

@{
    Layout = "_Layout";
}

<h2>Transfer FoxCoin</h2>

<div>
    <form method="post">
        <h3>
            <strong>
                From: @Model.FromAccount.Username
            </strong>
        </h3>
        <input type="hidden" name="fromAccount.Id" value="@Model.FromAccount.Id" />
        
        <p class="text-danger">@TempData["failedReason"]</p>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" placeholder="100" class="form-control" />
        </div>

        <div class="form-group">
            <label for="targetAccount">Target account</label>
            <select name="targetAccount.Id" id="targetAccount" class="form-control">
                @foreach (var account in Model.Accounts)
                {
                    <option value="@account.Id">@account.Username</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Transfer</button>
    </form>
</div>
