@model IEnumerable<Planet>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    thead, table, tr, td, th {
        border: 1px solid black;
    }

    thead {
        background: chocolate
    }
</style>
@{
    string method = "post";
}

@if (ViewBag.move== false)
{
    <p>the spaceship can't move or accept people any more</p>
    method = "get";
}
<h1>Space Transporter</h1>
<table>
    <thead>
        <tr>
            <th>Planet</th>
            <th>Population</th>
            <th>Spaceship location</th>
            <th>People on ship</th>
        </tr>
    </thead>
    @foreach (var planet in Model)
    {
        <tr>
            <td>@planet.Name</td>
            <td>@planet.Population</td>
            @if (ViewBag.spaceships.PlanetId == planet.PlanetId)
            {
            <form method=@method>
                <td>
                    <a asp-action="ToPlanet" asp-route-id="@planet.PlanetId">&#8592to planet</a>
                    <a asp-action="ToSpaceship" asp-route-id="@planet.PlanetId">to ship&#8594</a>
                </td>
            </form>

            <td>@ViewBag.spaceships.Utilization</td>
            }
            else
            {
            <form method=@method>
                <td><button asp-action="MoveHere" asp-route-id="@planet.PlanetId" type="submit">Move here</button></td>

            </form>
            <td>-</td>
            }
        </tr>
    }

</table>
